@charset "utf-8";
/* CSS Document */

table{
		border:1px solid #F00;
		padding:5px;
		margin:auto;
		background-color:#666;
		border-radius:15px;
}

._display{
		background-color:#000;
		width:210px;
		height:40px;
		color:#3F0;
		font-size:30px;
		text-align:right;
		border:none;
		margin-bottom:15px;
}

#display_auxiliar{
	color:#FC0;
	background-color:#000;
	height:20px;
	font-size:16px;
	margin-bottom:-3px;
	border:none;
	margin-top:20px;
}

.boton{
		width:50px;
		height:50px;
		color:#09C;
		font-weight:bold;
		font-size:20px;
		border:none;
		border-radius:7px;
}

.boton:hover{
	background-color:#6FF;
	color:#00F;
}
	
#igual{
		width:107px;
}

